.split-pane-divider {
    -fx-background-color: "gray";
    -fx-fill-width: 1px;
    -fx-padding: 0 1 0 0;
}

.green-positive {
    -fx-text-fill: #2bb62b;
}

.font-icon.green-positive {
    -fx-fill: #2bb62b;
}

.red-negative {
    -fx-text-fill: #b31f1f;
}

.font-icon.red-negative {
    -fx-fill: #b31f1f;
}

.leftmost-container {
    -fx-background-color: #cacaca;
    -fx-background-radius: 10px 0 0 10px;
}

.rightmost-container {
    -fx-background-radius: 0 10px 10px 0;
}

.hoverable-container:hover {
    -fx-background-color: #cacaca;
}

.notification-panel {
    -fx-background-color: #e1e1e1;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
    -fx-padding: 18px;
}

.notification-panel-secondary {
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
    -fx-padding: 18px;
}

.text-container {
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.notification-list.list-view {
    -fx-border-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.notification-list.list-view .scroll-bar .thumb {
    -fx-background-color: #a5a5a5;
}

.notification-list.list-view .list-cell {
    -fx-border-color: transparent;
    -fx-border-width: 1px;

    -fx-background-color: inherit;
}

.dashboard-panel {
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: gray;

    -fx-padding: 10px;
}

.secondary-container {
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: transparent;
    -fx-border-color: gray;

    -fx-padding: 10px;
}

/** <editor-fold desc="Flairs"> **/

.flair-generic {
    -fx-background-color: #e1e1e1;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
}

.flair-generic.bold {
    -fx-background-color: #e1e1e1;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* </editor-fold> */

/* <editor-fold desc="Mode picker buttons">*/

.toggle-button:selected.mode-picker-add {
    -fx-background-color: #78d378;
    -fx-border-color: #78d378;
}

.toggle-button:selected.mode-picker-subtract {
    -fx-background-color: #e88686;
    -fx-border-color: #e88686;
}

.toggle-button:selected.mode-picker-override {
    -fx-background-color: #b3a8e6;
    -fx-border-color: #b3a8e6;
}

.toggle-button.mode-picker {
    -fx-border-color: transparent;
}

.toggle-button.mode-picker:selected {
    -fx-border-color: #131313;
    -fx-border-width: 2px;
    -fx-font-weight: bold;
}

/* </editor-fold> */

/* <editor-fold desc="Update inventory spinner"> */

.update-inventory-spinner {
    -fx-font-size: 40px;
}

/* </editor-fold> */