.command-prompt {
    -fx-background-color: #3a3a3a;
    -fx-border-color: black;
    -fx-border-width: 2px;

    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.prompt-label {
    -fx-text-fill: #6fcbdf;
    -fx-font-weight: bold;
    -fx-font-size: 16px;

    -fx-background-color: #070707;
    -fx-border-color: white;

    -fx-padding: 2px 8px 2px 8px;

    -fx-background-radius: 10px 0 0 10px;
    -fx-border-radius: 10px 0 0 10px;
}

.prompt {
    -fx-background-color: #070707;
    -fx-border-color: white;
    -fx-border-radius: 0 10px 10px 0;
    -fx-background-radius: 0 10px 10px 0;
    -fx-text-fill: #6fcbdf;
}

.prompt:hover {
    -fx-background-color: #2b2b2b;
}